@import "./styles/colors.scss";

.positions-are-occupied {
    margin-top: 15%;
}
.positions-are-occupied-query {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.time-picker-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.time-picker-button {
    margin: 8px 0px;
    button {
        background-color: $bright-green;
    }
    button:focus {
        background-color: $dark-green
    }
}