.title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 100px auto 50px auto;
    font-family: 'Heebo', sans-serif;
}
.info {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 30px 0;
    font-family: 'Heebo', sans-serif;
}