@import "../../styles/colors.scss";

.button-base {
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  direction: rtl;
  color: $text;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  animation: pulse 1s ease-in-out 0.5s infinite;
  font-family: 'Heebo Bold', 'Heebo Regular', 'Heebo', sans-serif;
  background-color:rgba(68, 68, 68, 0.11);
}
.button-base--full-width {
  width: 100%;
}
.button-base--not-display {
  display: none;
}
.button-base--xx-small {
  font-size: 11px;
  padding: 5px 8px;
  font-weight: 400;
}
.button-base--x-small {
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 400;
}
.button-base--small {
  font-size: 12px;
  padding: 8px 14px;
}
.button-base--medium {
  font-size: 14px;
  padding: 9px 18px;
}
.button-base--large {
  font-size: 16px;
  padding: 10px 22px;
}


@keyframes pulse {
  0%, 100% {
    background-color:rgba(68, 68, 68, 0.11);
  }
  50% {
    background-color: rgba(207, 207, 207, 0.11);
  }
}