.input {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .text-error {
    color: red;
    margin: 3px 23px;
    font-weight: 500;
    font-size: x-small;
  }
  .title {
  height: 32px;
  font-size: 23px;
  margin: 0px 5px;
  font-weight: 700;
  color: #555555;
  border-width: 0px;
  font-style: normal;
  margin-bottom: 10px;
}